* {
	box-sizing: border-box;
}
body {
	background-image: url("bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	color: white;
}
h1 {
	text-align: center;
	font-size: 600%;
	color: red;
}
.outer {
	align-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}
.inner {
	display: flex;
	width: 95%;
	height: 100%;
	border: 1px solid black;
	text-align: center;
	margin: auto;
	color: black;
	background-color: rgb(187,190,195, 0.7);

}
.open {
	margin: auto;
	font-size: 38px;
}
table.text {
	margin: auto;
	font-size: 26px;
}
th {
	float: left;
	padding-right: 50px;
}
td {
	padding: 0 20px 0 20px;
}
.buttonshield {
	display: flex;
	align-items: center;
	justify-content: center;
}
.button {
	display: inline-block;
	padding: 0.3em 1.2em;
	font-size: 40px;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #385213;
	width: 50%;
	text-align: center;
	transition: all 0.2s;
}
.button:hover {
	background-color:#4095c6;
}
#txt {
	font-size: 70px;
	color: black;
}
#clock {
	padding-top: 70px;
}
#extra{
	margin-top: 20px;
}


@media only screen and (max-width: 768px) {
	.outer {grid-template-columns: 1fr;
		align-content: center;
		display: grid;
	}
	h1 {
		font-size: 400%;
	}
	#txt {
		font-size: 40px;
	}
	.button {
		font-size: 25px;
	}
	#clock {
		padding-top: 25px;
	}
	#extra {
    margin-top: 15px;
	}
}